bin
obj
/.vs
/Ambermoon.net/Saves
/Ambermoon.net/Screenshots
/Ambermoon.net/music
*.cache
/Ambermoon.net/error.txt
/Ambermoon.net/diffs.dat
/Ambermoon.net/ambermoon.cfg
/publish-win64
/ambermoon.cfg
/AmbermoonMusicPlayer
/AmberSynth
/AmberSynthTest
/DataAnalyzer
/FileExtractor
/ImageDataReconstruct
*.adf
/SandboxCreator
/Saves/german
/SonicArranger
/aex
/WavePlayer
/test.bat
/testdebug.bat
/Ambermoon.net/CreateIngameFont.txt
/Ambermoon.net/GlyphExport.txt
