for:
-
    branches:
        only:
            - master
            - /v\d+\.\d+\.\d+/

    image:
        - Visual Studio 2022
        - Ubuntu
        - macos-monterey
-
    branches:
        only:
            - test-macos

    image:
        - macos-monterey

platform: Any CPU
configuration: Release

before_build:
  - ps: if ($env:CONFIGURATION -eq 'ReleaseAndroid') { dotnet workload install android }
  - dotnet restore Ambermoon.net.sln --verbosity normal

build:
  parallel: true
  project: Ambermoon.net.sln

artifacts:
  - path: Ambermoon.net-Windows.zip
    name: Ambermoon.net-Windows
  - path: Ambermoon.net-Windows32Bit.zip
    name: Ambermoon.net-Windows32Bit
  - path: Ambermoon.net-Linux.tar.gz
    name: Ambermoon.net-Linux
  - path: Ambermoon.net-Mac-ARM.zip
    name: Ambermoon.net-Mac-ARM
  - path: Ambermoon.net-Mac.zip
    name: Ambermoon.net-Mac
  - path: nuget\*.nupkg
    name: NugetPackages

after_build:
    - ps: if (($env:APPVEYOR_REPO_TAG -eq $true) -or ($env:APPVEYOR_REPO_BRANCH -eq 'test-macos')) { ./publish.ps1 }
    - ps: ./nuget.ps1

test: off

deploy:
  - provider: GitHub
    name: Ambermoon.net-Windows
    artifact: Ambermoon.net-Windows
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Windows32Bit
    artifact: Ambermoon.net-Windows32Bit
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Linux
    artifact: Ambermoon.net-Linux
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Mac
    artifact: Ambermoon.net-Mac
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Mac-ARM
    artifact: Ambermoon.net-Mac-ARM
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Mac-ARM Test
    artifact: Ambermoon.net-Mac-ARM
    release: 'Mac Test Release'
    description: 'Mac Test Release'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      branch: 'test-macos'
  - provider: NuGet
    name: NugetPackages
    api_key:
      secure: UrA/r0IO8UdL3u1kSb0ssskbIl5mvXwKbymZ8AEpnW6nDw4El+Gqnr5L+42MJRF5
    skip_symbols: true
