environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      configuration: Release
    #- APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    #  configuration: Release
    #- APPVEYOR_BUILD_WORKER_IMAGE: macos-monterey
    #  configuration: Release

platform: Any CPU

before_build:
  - ps: if ($env:CONFIGURATION -eq 'ReleaseWithAndroid') { dotnet workload install android }
  - dotnet restore Ambermoon.net.sln --verbosity normal

build:
  parallel: true
  project: Ambermoon.net.sln

artifacts:
  - path: Ambermoon.net-Windows.zip
    name: Ambermoon.net-Windows
  - path: Ambermoon.net-Windows32Bit.zip
    name: Ambermoon.net-Windows32Bit
  - path: Ambermoon.net-Linux.tar.gz
    name: Ambermoon.net-Linux
  - path: Ambermoon.net-Mac-ARM.zip
    name: Ambermoon.net-Mac-ARM
  - path: Ambermoon.net-Mac.zip
    name: Ambermoon.net-Mac
  - path: nuget\*.nupkg
    name: NugetPackages

after_build:
    - ps: if ($env:APPVEYOR_REPO_TAG -eq $true) { ./publish.ps1 }
    - ps: ./nuget.ps1

test: off

deploy:
  - provider: GitHub
    name: Ambermoon.net-Windows
    artifact: Ambermoon.net-Windows
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Windows32Bit
    artifact: Ambermoon.net-Windows32Bit
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Linux
    artifact: Ambermoon.net-Linux
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Mac
    artifact: Ambermoon.net-Mac
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: GitHub
    name: Ambermoon.net-Mac-ARM
    artifact: Ambermoon.net-Mac-ARM
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: NuGet
    name: NugetPackages
    api_key:
      secure: kv2Z0jPlIGPPryGlyqN+SgqEOXcI7KF3/shfkRVgPTq7D2/QFi4vw+TKb/CTaWTY
    skip_symbols: true
