for:
-
    branches:
        only:
            - master
            - /^v\d+\.\d+\.\d+$/

    image:
        - Visual Studio 2022
        - Ubuntu2204
        - macos-monterey
-
    branches:
        only:
            - test-macos

    image:
        - macos-monterey
-
    branches:
        only:
            - /^android-v\d+\.\d+\.\d+$/

    image:
        - Visual Studio 2022
    build:
        project: AmbermoonAndroid/AmbermoonAndroid.csproj

platform: Any CPU
configuration: Release

before_build:
  - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -match '^android-v\d+\.\d+\.\d+$') {
        dotnet workload install android
        dotnet restore AmbermoonAndroid/AmbermoonAndroid.csproj
      } else {
        dotnet restore Ambermoon.net.sln --verbosity normal
      }

build:
  parallel: true
  project: Ambermoon.net.sln

artifacts:
  - path: Ambermoon.net-Windows.zip
    name: Ambermoon.net-Windows
  - path: Ambermoon.net-Windows32Bit.zip
    name: Ambermoon.net-Windows32Bit
  - path: Ambermoon.net-Linux.tar.gz
    name: Ambermoon.net-Linux
  - path: Ambermoon.net-Mac-ARM.zip
    name: Ambermoon.net-Mac-ARM
  - path: Ambermoon.net-Mac.zip
    name: Ambermoon.net-Mac
  - path: AmbermoonInstall.exe
    name: AmbermoonInstaller
  - path: com.pyrdacor.AmbermoonAndroid.apk
    name: AmbermoonAndroid
  - path: com.pyrdacor.AmbermoonAndroid-Signed.apk
    name: AmbermoonAndroidSigned
  - path: nuget\*.nupkg
    name: NugetPackages

after_build:
    - ps: |
        if ($env:APPVEYOR_REPO_BRANCH -match '^android-v\d+\.\d+\.\d+$') {
          dotnet publish AmbermoonAndroid/AmbermoonAndroid.csproj -c Release -f net9.0-android35.0 -p:DefineConstants="GLES" -p:AndroidPackageFormat=apk
          Copy-Item "./AmbermoonAndroid/bin/Release/net9.0-android35.0/publish/com.pyrdacor.AmbermoonAndroid.apk" "com.pyrdacor.AmbermoonAndroid.apk"
          Copy-Item "./AmbermoonAndroid/bin/Release/net9.0-android35.0/publish/com.pyrdacor.AmbermoonAndroid-Signed.apk" "com.pyrdacor.AmbermoonAndroid-Signed.apk"
        } else {
          if (($env:APPVEYOR_REPO_TAG -eq $true) -or ($env:APPVEYOR_REPO_BRANCH -eq 'test-macos')) {
            ./publish.ps1
          }
          ./nuget.ps1
        }

test: false

deploy:
  - provider: GitHub
    name: Ambermoon.net-Windows
    artifact: Ambermoon.net-Windows
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^v\d+\.\d+\.\d+$/
  - provider: GitHub
    name: Ambermoon.net-Windows32Bit
    artifact: Ambermoon.net-Windows32Bit
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^v\d+\.\d+\.\d+$/
  - provider: GitHub
    name: Ambermoon.net-Linux
    artifact: Ambermoon.net-Linux
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^v\d+\.\d+\.\d+$/
  - provider: GitHub
    name: Ambermoon.net-Mac
    artifact: Ambermoon.net-Mac
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^v\d+\.\d+\.\d+$/
  - provider: GitHub
    name: Ambermoon.net-Mac-ARM
    artifact: Ambermoon.net-Mac-ARM
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^v\d+\.\d+\.\d+$/
  - provider: GitHub
    name: AmbermoonInstaller
    artifact: AmbermoonInstaller
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^v\d+\.\d+\.\d+$/
  - provider: GitHub
    name: Ambermoon.net-Mac-ARM Test
    artifact: Ambermoon.net-Mac-ARM
    release: 'Mac Test Release'
    description: 'Mac Test Release'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: true
    force_update: true
    on:
      branch: 'test-macos'
  - provider: GitHub
    name: AmbermoonAndroid
    artifact: AmbermoonAndroid
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: false
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^android-v\d+\.\d+\.\d+$/
  - provider: GitHub
    name: AmbermoonAndroidSigned
    artifact: AmbermoonAndroidSigned
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: 'Release $(APPVEYOR_REPO_TAG_NAME)'
    auth_token:
      secure: ku89dMTVkz+PE5bvxWQCLG9PbNTa9tQUsidZ/7726rLEZjIAvDcxEC668Ix9zYmw
    draft: true
    prerelease: false
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true
      APPVEYOR_REPO_TAG_NAME: /^android-v\d+\.\d+\.\d+$/
  - provider: NuGet
    name: NugetPackages
    api_key:
      secure: WhJobR60j2QZs4Ve0Jv1fbr6tocp/x8vscNPWq5jX6RNc8AYsrr4MRfEIX2fq+Rx
    skip_symbols: true
