<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Ambermoon.net</string>
	<key>CFBundleDisplayName</key>
	<string>Ambermoon.net</string>
	<key>CFBundleName</key>
	<string>Ambermoon.net</string>
	<key>CFBundleVersion</key>
	<string>1.6.9</string>
	<key>CFBundleIconFile</key>
	<string>Ambermoon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.pyrdacor.ambermoon.net</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>